
* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');

body {
    max-width: 1440px;
    font-family: 'Mulish', sans-serif;
}


/* nav section styles */

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 135px;

}
.logo   {
    display: flex;
    align-items: center;

}

.logo-icon {
    margin-right: 10px;
}

.logo-title {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.travel {
    color: #FF5400;
}

.links {
    display: flex;
    align-items: center;
}

.links>ul {
    display: flex;
}

ul li {
    list-style: none;
    margin-left: 45px;
}

li a {
    text-decoration: none;
    font-size: 1.125rem;
    color: #424247;
}

.home   {
    font-size: 1.125rem;
    color: #FF5400;
    font-weight: 700;
}

/* navbar styles ends here  */

